<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/stylesheets/aboutstyle.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Work+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <p id='lista'>
        <a class="link" href="http://localhost:3000/">| HOME |</a>
        <a class="link" href="http://localhost:3000/about"> ABOUT </a>
        <a class="link" href="http://localhost:3000/music">| MUSIC |</a>
        <a class="link" href="http://localhost:3000/contact"> CONTACT |</a>
    </p>
    <ul id='redes' style="list-style-type:none">
        <li><img src="../images/twitter-brands.svg" width= 12px alt=""></li>
        <li><img src="../images/facebook-square-brands.svg" width= 12px alt=""></li>
        <li><img src="../images/spotify-brands.svg" width= 12px alt=""></li>
        <li><img src="../images/apple-brands.svg" width= 12px alt=""></li>
        <li><img src="../images/amazon-brands.svg" width= 12px alt=""></li>
        <li><img src="../images/instagram-brands.svg" width= 12px alt=""></li>
    </ul>
    <h1 id="titulo">ABOUT<br>EMILIA //</h1>
    <h2 id="suba" class="sub">"Seattle-based pop star makes her <br> indie debut with a hauntingly beautiful album"</h2>
    <p id="chicoa" class="chico">- John Tirckle, Music Today Post</p>
    <h2 id="subb" class="sub">"Emilia Cole is one of <br> the scene's breakout stars"</h2>
    <p id="chicob" class="chico">- John Tirckle, Music Today Post</p>

</body>
</html>