<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Work+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/contactstyle.css">
</head>
<body>
    <p id='lista'>
        <a class="link" href="http://localhost:3000/">| HOME |</a>
        <a class="link" href="http://localhost:3000/about"> ABOUT </a>
        <a class="link" href="http://localhost:3000/music">| MUSIC |</a>
        <a class="link" href="http://localhost:3000/contact"> CONTACT |</a>
    </p>
    <ul id='redes' style="list-style-type:none">
        <li><img src="../images/twitter-brands.svg" width= 12px alt=""></li>
        <li><img src="../images/facebook-square-brands.svg" width= 12px alt=""></li>
        <li><img src="../images/spotify-brands.svg" width= 12px alt=""></li>
        <li><img src="../images/apple-brands.svg" width= 12px alt=""></li>
        <li><img src="../images/amazon-brands.svg" width= 12px alt=""></li>
        <li><img src="../images/instagram-brands.svg" width= 12px alt=""></li>
    </ul>
    <h1>CONTACT //</h1>
    <h2>WE ARE HERE</h2>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d215372.81640390342!2d-0.23322364702870158!3d51.478208342262846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondres%2C%20Reino%20Unido!5e0!3m2!1ses-419!2sar!4v1588038426448!5m2!1ses-419!2sar" width=100% height=450px frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    <h2 id= "contacto">CONTACT INFO</h2>
    <h3>MANAGEMENT | Karen Blanche</h3>
    <p><span class="grey">email:</span> <span class="black">info@mysite.com</span> <br> <span class="grey">phone:</span><span class="black"> 123-456-7890</span></p>
    <h3>BOOKING | Daniel Ku</h3>
    <p><span class="grey">email:</span> <span class="black">info@mysite.com</span> <br> <span class="grey">phone:</span><span class="black"> 123-456-7890</span></p>
    <h3>LABEL | Wix Records, Jake Coldham</h3>
    <p><span class="grey">email:</span> <span class="black">info@mysite.com</span> <br> <span class="grey">phone:</span><span class="black"> 123-456-7890</span></p>
    <h3>PR | That Girl Pr, Sarah Brookstone</h3>
    <p><span class="grey">email:</span> <span class="black">info@mysite.com</span> <br> <span class="grey">phone:</span><span class="black"> 123-456-7890</span></p>
</body>
</html>