<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Work+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/indexstyle.css">
</head>
<body>
  <ul id='lista' style="list-style-type:none" margin='500px'>
    <a class="link" href="http://localhost:3000/"><li>HOME</li></a>
    <br>
    <a class="link" href="http://localhost:3000/about"><li>ABOUT</li></a>
    <br>
    <a class="link" href="http://localhost:3000/music"><li>MUSIC</li></a>
    <br>
    <a class="link" href="http://localhost:3000/contact"><li>CONTACT</li></a>
  </ul>
  <ul id='redes' style="list-style-type:none">
    <li><img src="../images/twitter-brands.svg" width= 12px alt=""></li>
    <li><img src="../images/facebook-square-brands.svg" width= 12px alt=""></li>
    <li><img src="../images/spotify-brands.svg" width= 12px alt=""></li>
    <li><img src="../images/apple-brands.svg" width= 12px alt=""></li>
    <li><img src="../images/amazon-brands.svg" width= 12px alt=""></li>
    <li><img src="../images/instagram-brands.svg" width= 12px alt=""></li>
  </ul>
  <br>
  <br>
  <br>
  <h2 id="h2">EMILIA<br>COLE //</h2>
  <br>
  <h1 id="h1">TWIST IN MY REALITY</h1>
</body>
</html>