<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music</title>
    <link rel="stylesheet" href="/stylesheets/musicstyle.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Work+Sans&display=swap" rel="stylesheet">
    
</head>
<body>
    <p id='lista'>
        <a class="link" href="http://localhost:3000/">| HOME |</a>
        <a class="link" href="http://localhost:3000/about"> ABOUT </a>
        <a class="link" href="http://localhost:3000/music">| MUSIC |</a>
        <a class="link" href="http://localhost:3000/contact"> CONTACT |</a>
    </p>
    <ul id='redes' style="list-style-type:none">
        <li><img src="../images/twitter-brands.svg" width= 12px alt=""></li>
        <li><img src="../images/facebook-square-brands.svg" width= 12px alt=""></li>
        <li><img src="../images/spotify-brands.svg" width= 12px alt=""></li>
        <li><img src="../images/apple-brands.svg" width= 12px alt=""></li>
        <li><img src="../images/amazon-brands.svg" width= 12px alt=""></li>
        <li><img src="../images/instagram-brands.svg" width= 12px alt=""></li>
    </ul>
    <br>
    <br>
    <h1><b>MUSIC //</b></h1>
    <p>Direct Links</p>
    <a class="nav" href="#imagen">Álbum</a><br>
    <a class="nav" href="#video1">Video: Organic love</a><br>
    <a class="nav" href="#video2">Video: Street Light</a><br>
    <h2>ALBUM <br> TWIST IN MY REALITY</h2>
    <img id="imagen" src="../images/emilia-play-list.png" alt="">
    <ol id="canciones">
        <li>► Organic Love | 02:40</li>
        <br>
        <li>► Twist In My Reality | 02:10</li>
        <br>
        <li>► Street Light | 03:28</li>
        <br>
        <li>► Love Don’t Live Here Anymore (Cover) | 03:49</li>
    </ol>
    <br>
    <a class="nav" href="#lista"><b>Go Top</b></a><br>
    <br>
    <br>    
    <h2>VIDEO <br> ORGANIC LOVE</h2>
    <iframe id="video1" src="https://player.vimeo.com/video/135166028" width="800" height="450" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    <p>Directed by VINCE MALC & EMILIA COLE <br> Edited and Filmed by NICOLAS TROY <br> Produced by NIKI HEART, <br> Wix Films LTD.</p>
    <br>
    <a class="nav" href="#lista"><b>Go Top</b></a><br>
    <br>
    <br>
    <h2>VIDEO <br> STREET LIGHT</h2>
    <iframe id="video2" src="https://player.vimeo.com/video/134861419" width="800" height="450" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    <p>Directed by VINCE MALC & EMILIA COLE <br> Edited and Filmed by NICOLAS TROY <br> Produced by NIKI HEART, <br> Wix Films LTD.</p>
    <br>
    <a class="nav" href="#lista"><b>Go Top</b></a><br>
</body>
</html>